
//===============================================================================
// VARIABLES
//===============================================================================

$grey: #CACCD9;
$midgrey: #555570;
$ink: #000030;


$green1: #28BAB7;
$green2: #11A6BA;
$greengrad1: #198fb6;
$greengrad2: #3288a5;

$pink: #C4557F;

$bluemid: #2D8BCD;
$bluedark: #2D55CD;

$purple: #7700FF;



$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;



